MovieManiacs/BusinessEntities/Service References/DataProvider/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataProvider" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54171/DataProvider.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54171/DataProvider.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54171/DataProvider.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Core.InfoModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataProvider_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetUserByUserName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserName" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetUserByUserName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_FindUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserById" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_FindUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetUserFriends_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFriends" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetUserFriends_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetUserMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMovies" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetUserMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_CreateNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_CreateNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_FindByMovieName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByMovieName" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_FindByMovieName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByMovieNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_GetAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_CreateNewMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewMovie" />
  </wsdl:message>
  <wsdl:message name="IDataProvider_CreateNewMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewMovieResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataProvider">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/GetData" message="tns:IDataProvider_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/GetDataResponse" message="tns:IDataProvider_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/GetUserByUserName" message="tns:IDataProvider_GetUserByUserName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/GetUserByUserNameResponse" message="tns:IDataProvider_GetUserByUserName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/FindUserById" message="tns:IDataProvider_FindUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/FindUserByIdResponse" message="tns:IDataProvider_FindUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/GetUserFriends" message="tns:IDataProvider_GetUserFriends_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/GetUserFriendsResponse" message="tns:IDataProvider_GetUserFriends_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/GetAllUsers" message="tns:IDataProvider_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/GetAllUsersResponse" message="tns:IDataProvider_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/GetUserMovies" message="tns:IDataProvider_GetUserMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/GetUserMoviesResponse" message="tns:IDataProvider_GetUserMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/CreateNewUser" message="tns:IDataProvider_CreateNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/CreateNewUserResponse" message="tns:IDataProvider_CreateNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByMovieName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/FindByMovieName" message="tns:IDataProvider_FindByMovieName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/FindByMovieNameResponse" message="tns:IDataProvider_FindByMovieName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/GetAllMovies" message="tns:IDataProvider_GetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/GetAllMoviesResponse" message="tns:IDataProvider_GetAllMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvider/CreateNewMovie" message="tns:IDataProvider_CreateNewMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvider/CreateNewMovieResponse" message="tns:IDataProvider_CreateNewMovie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataProvider" type="tns:IDataProvider">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByUserName">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/GetUserByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserById">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/FindUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserFriends">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/GetUserFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserMovies">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/GetUserMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/CreateNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByMovieName">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/FindByMovieName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewMovie">
      <soap:operation soapAction="http://tempuri.org/IDataProvider/CreateNewMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataProvider">
    <wsdl:port name="BasicHttpBinding_IDataProvider" binding="tns:BasicHttpBinding_IDataProvider">
      <soap:address location="http://localhost:54171/DataProvider.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>